/* ================= RESET ================= */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

:root{

    --bg:#020617;
    --card:#111827;
    --primary:#2563EB;
    --text:#F8FAFC;
    --paragraph:#94A3B8;
    --border:rgba(255,255,255,.08);

}

body{

    background:var(--bg);

    display:flex;

    justify-content:center;

    align-items:center;

    min-height:100vh;

}

/* ================= RESULT CARD ================= */

.result-card{

    width:90%;
    max-width:500px;

    background:var(--card);

    border:1px solid var(--border);

    border-radius:18px;

    padding:40px;

    text-align:center;

    box-shadow:0 0 35px rgba(37,99,235,.2);

}

.result-card h1{

    color:var(--text);

    font-size:38px;

    margin-bottom:25px;

}

.result-card h2{

    color:var(--primary);

    font-size:55px;

    margin-bottom:20px;

}

.result-card p{

    color:var(--paragraph);

    font-size:20px;

    margin-bottom:35px;

}

/* ================= BUTTONS ================= */

.result-card button{

    width:100%;

    padding:15px;

    margin-top:15px;

    border:none;

    border-radius:10px;

    background:var(--primary);

    color:white;

    font-size:17px;

    font-weight:600;

    cursor:pointer;

    transition:.3s;

}

.result-card button:hover{

    background:#1D4ED8;

    transform:translateY(-3px);

}

.result-card a{

    text-decoration:none;

}

/* ================= BACK BUTTON ================= */



.back-btn{

   
    text-decoration:none;
    color: #F8FAFC;

}